@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

:root {
  --background-color: #000;
  --foreground-color: #121212;
  --nav-width: 420px;
  --footer-height: 90px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  color: #fff;
  background: var(--background-color);
  // overflow-y: hidden;
}

.grid-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "navbar main main"
    "navbar main main"
    "footer footer footer";
  min-height: 100vh;
}

.navbar {
  grid-area: navbar;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  height: var(--footer-height);
  background-color: #000;
  z-index: 0;
}

::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, 0.3);
}
